<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.PublicDataMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.PublicData">
            <result property="reportNo" column="REPORT_NO" jdbcType="VARCHAR"/>
            <result property="printingErasibilit" column="PRINTING_ERASIBILIT" jdbcType="VARCHAR"/>
            <result property="conductorCorrosion" column="CONDUCTOR_CORROSION" jdbcType="VARCHAR"/>
            <result property="tsCrack" column="TS_CRACK" jdbcType="VARCHAR"/>
            <result property="ltBendCrack" column="LT_BEND_CRACK" jdbcType="VARCHAR"/>
            <result property="flexibilityCrack" column="FLEXIBILITY_CRACK" jdbcType="VARCHAR"/>
            <result property="dielectricIiiPok" column="DIELECTRIC_III_POK" jdbcType="VARCHAR"/>
            <result property="dielectricIPok" column="DIELECTRIC_I_POK" jdbcType="VARCHAR"/>
            <result property="hvdcWirePok" column="HVDC_WIRE_POK" jdbcType="VARCHAR"/>
            <result property="lightCottonVw1Td1" column="LIGHT_COTTON_VW1_TD1" jdbcType="VARCHAR"/>
            <result property="lightCottonVw1Td2" column="LIGHT_COTTON_VW1_TD2" jdbcType="VARCHAR"/>
            <result property="lightCottonVw1Td3" column="LIGHT_COTTON_VW1_TD3" jdbcType="VARCHAR"/>
            <result property="lightCottonFt2Td1" column="LIGHT_COTTON_FT2_TD1" jdbcType="VARCHAR"/>
            <result property="lightCottonFt2Td2" column="LIGHT_COTTON_FT2_TD2" jdbcType="VARCHAR"/>
            <result property="lightCottonFt2Td3" column="LIGHT_COTTON_FT2_TD3" jdbcType="VARCHAR"/>
            <result property="lightCottonUlTd1" column="LIGHT_COTTON_UL_TD1" jdbcType="VARCHAR"/>
            <result property="lightCottonUlTd2" column="LIGHT_COTTON_UL_TD2" jdbcType="VARCHAR"/>
            <result property="lightCottonUlTd3" column="LIGHT_COTTON_UL_TD3" jdbcType="VARCHAR"/>
            <result property="sheathMaterialQuality" column="SHEATH_MATERIAL_QUALITY" jdbcType="VARCHAR"/>
            <result property="insulTsCrack" column="INSUL_TS_CRACK" jdbcType="VARCHAR"/>
            <result property="sheathTsCrack" column="SHEATH_TS_CRACK" jdbcType="VARCHAR"/>
            <result property="insulLtBendCrack" column="INSUL_LT_BEND_CRACK" jdbcType="VARCHAR"/>
            <result property="sheathLtBendCrack" column="SHEATH_LT_BEND_CRACK" jdbcType="VARCHAR"/>
            <result property="lowTemperatureImpactCrack" column="LOW_TEMPERATURE_IMPACT_CRACK" jdbcType="VARCHAR"/>
            <result property="thermalStability" column="THERMAL_STABILITY" jdbcType="VARCHAR"/>
            <result property="flexureTest" column="FLEXURE_TEST" jdbcType="VARCHAR"/>
            <result property="insulDielectricPok" column="INSUL_DIELECTRIC_POK" jdbcType="VARCHAR"/>
            <result property="fgDielectricPok" column="FG_DIELECTRIC_POK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        REPORT_NO,PRINTING_ERASIBILIT,CONDUCTOR_CORROSION,
        TS_CRACK,LT_BEND_CRACK,FLEXIBILITY_CRACK,
        DIELECTRIC_III_POK,DIELECTRIC_I_POK,HVDC_WIRE_POK,
        LIGHT_COTTON_VW1_TD1,LIGHT_COTTON_VW1_TD2,LIGHT_COTTON_VW1_TD3,
        LIGHT_COTTON_FT2_TD1,LIGHT_COTTON_FT2_TD2,LIGHT_COTTON_FT2_TD3,
        LIGHT_COTTON_UL_TD1,LIGHT_COTTON_UL_TD2,LIGHT_COTTON_UL_TD3,
        SHEATH_MATERIAL_QUALITY,INSUL_TS_CRACK,SHEATH_TS_CRACK,
        INSUL_LT_BEND_CRACK,SHEATH_LT_BEND_CRACK,LOW_TEMPERATURE_IMPACT_CRACK,
        THERMAL_STABILITY,FLEXURE_TEST,INSUL_DIELECTRIC_POK,
        FG_DIELECTRIC_POK,SHEATH_OD_TD1,SHEATH_OD_TD2,
        SHEATH_OD_TD3,SHEATH_OD_TD4,SHEATH_OD_TD5,
        SHEATH_OD_TD6,SHEATH_THK_TD1,SHEATH_THK_TD2,
        SHEATH_THK_TD3,SHEATH_THK_TD4,SHEATH_THK_TD5,
        SHEATH_THK_TD6,SHEATH_UNAGED_ELONGATION_TD1,SHEATH_UNAGED_ELONGATION_TD2,
        SHEATH_UNAGED_ELONGATION_TD3,SHEATH_UNAGED_ELONGATION_TD4,SHEATH_UNAGED_ELONGATION_TD5,
        SHEATH_UNAGED_ELONGATION_TD6,SHEATH_UNAGED_PULL_TD1,SHEATH_UNAGED_PULL_TD2,
        SHEATH_UNAGED_PULL_TD3,SHEATH_UNAGED_PULL_TD4,SHEATH_UNAGED_PULL_TD5,
        SHEATH_UNAGED_PULL_TD6,SHEATH_AGING_ELONGATION_TD1,SHEATH_AGING_ELONGATION_TD2,
        SHEATH_AGING_ELONGATION_TD3,SHEATH_AGING_ELONGATION_TD4,SHEATH_AGING_ELONGATION_TD5,
        SHEATH_AGING_ELONGATION_TD6,SHEATH_AGING_PULL_TD1,SHEATH_AGING_PULL_TD2,
        SHEATH_AGING_PULL_TD3,SHEATH_AGING_PULL_TD4,SHEATH_AGING_PULL_TD5,
        SHEATH_AGING_PULL_TD6,CSG_FRONT_THK,CSG_REAR_THK,
        SPG_LENGTH,SPG_EMPTY_WEIGHT,SPG_WATER_WEIGHT,
        HTE_MARK_LENGTH,HTE_EXTENSION_LENGTH,SHEATH_THK_TD7,
        SHEATH_THK_TD8,SHEATH_THK_TD9,SHEATH_THK_TD10,
        INSUL_AVG_THK,INSUL_MIN_THK,SHEATH_AVG_THK,
        SHEATH_MIN_THK,INSUL_BI_TEMP,INSUL_BI_TIME,
        INSUL_UNAGED_EI,INSUL_UNAGED_TS,INSUL_AGING_EI,
        INSUL_AGING_TS,SHEATH_BI_TEMP,SHEATH_BI_TIME,
        SHEATH_UNAGED_EI,SHEATH_UNAGED_TS,SHEATH_AGING_EI,
        SHEATH_AGING_TS,CONDUCTOR_CORROSION_TEMP,CONDUCTOR_CORROSION_TIME,
        TS_TEMP,TS_TIME,TS_LN,
        LT_BEND_TEMP,LT_BEND_TIME,LT_BEND_LN,
        FLEXIBILITY_TEMP,FLEXIBILITY_TIME,FLEXIBILITY_LN,
        CONDUCTOR20_DCR,DIELECTRIC_III_WITHSTAND_VOLTAGE,DIELECTRIC_III_WITHSTAND_VOLTAGE_TIME,
        DIELECTRIC_I_NUM,DIELECTRIC_I_TEMP,DIELECTRIC_I_TIME,
        DIELECTRIC_I_GIRTH,DIELECTRIC_I_LN,DIELECTRIC_I_WITHSTAND_VOLTAGE,
        DIELECTRIC_I_WITHSTAND_VOLTAGE_TIEM,DIELECTRIC_I_POK_NUM,HVDC_WIRE_NUM,
        HVDC_WIRE_BAKING_TEMP,HVDC_WIRE_BAKING_TIME,HVDC_WIRE_DISCHARGE_TEMP,
        HVDC_WIRE_DISCHARGE_PCT,HVDC_WIRE_DISCHARGE_TIME,HVDC_WIRE_TEST_BAR,
        HVDC_WIRE_LN,HVDC_WIRE_DCV,HVDC_WIRE_DCV_TIME,
        FIRST_FLAME_RETARDING_TD1,FIRST_FLAME_RETARDING_TD2,FIRST_FLAME_RETARDING_TD3,
        SECOND_FLAME_RETARDING_TD1,SECOND_FLAME_RETARDING_TD2,SECOND_FLAME_RETARDING_TD3,
        THIRD_FLAME_RETARDING_TD1,THIRD_FLAME_RETARDING_TD2,THIRD_FLAME_RETARDING_TD3,
        FOURTH_FLAME_RETARDING_TD1,FOURTH_FLAME_RETARDING_TD2,FOURTH_FLAME_RETARDING_TD3,
        FIFTH_FLAME_RETARDING_TD1,FIFTH_FLAME_RETARDING_TD2,FIFTH_FLAME_RETARDING_TD3,
        FLAG_BURNING_AREA_TD1,FLAG_BURNING_AREA_TD2,FLAG_BURNING_AREA_TD3,
        BURNING_AFTER_LENGHT_TD1,BURNING_AFTER_LENGHT_TD2,BURNING_AFTER_LENGHT_TD3,
        BURNING_TIME_TD1,BURNING_TIME_TD2,BURNING_TIME_TD3,
        THERMAL_ELONGATION,AVG_OD_UBV,SECTION_MAX,
        SECTION_MIN,SHEATH_FIRTY807_UNAGED,SHEATH_SECOND807_AGING,
        INSUL_TS_LENGTH,INSUL_TS_LN,SHEATH_TS_LENGTH,
        SHEATH_TS_LN,INSUL_LT_BEND_LN,SHEATH_LT_BEND_LN,
        LOW_TEMPERATURE_IMPACT,SHEATH_HTHP,PRINTING_SPACE_DV,
        PRINTING_SPACE,IR90_LENGTH,IR90_TD,
        IR_CALC_DV,IR90_CALC_DV,DIAMETER_TD_AVG_DV,
        SHEATH_OD_DV_START,SHEATH_OD_DV_END,INSUL_UNAGED_EI_MVS_DV,
        INSUL_UNAGED_TS_MVS_DV,INSUL_AGING_EI_MVS_DV,INSUL_AGING_TS_MVS_DV,
        SHEATH_UNAGED_EI_MVS_DV,SHEATH_UNAGED_TS_MVS_DV,SHEATH_AGING_EI_MVS_DV,
        SHEATH_AGING_TS_MVS_DV,INSUL_DIELECTRIC_WITHSTAND_VOLTAGE,INSUL_DIELECTRIC_WITHSTAND_VOLTAGE_TIME,
        FG_DIELECTRIC_WITHSTAND_VOLTAGE,FG_DIELECTRIC_WITHSTAND_VOLTAGE_TIME,GB_TBF_START_DISTANCE,
        GB_TBF_BURNING_DISTANCE,SHEATH_THK_TD11,SHEATH_THK_TD12,SHEATH_THK_TD13,SHEATH_THK_TD14,
        SHEATH_THK_TD15,SHEATH_THK_TD16,SHEATH_THK_TD17,SHEATH_THK_TD18,SPG_LENGTH_EMPTY_WEIGHT,
        PARALLEL_CORD_BEFORE_TEARING_TD1,PARALLEL_CORD_BEFORE_TEARING_TD2,
        PARALLEL_CORD_BEFORE_TEARING_TD3,PARALLEL_CORD_BEFORE_TEARING_TD4,
        PARALLEL_CORD_BEFORE_TEARING_TD5,PARALLEL_CORD_BEFORE_TEARING_TD6,
        PARALLEL_CORD_AFTER_TEARING_TD1,PARALLEL_CORD_AFTER_TEARING_TD2,
        PARALLEL_CORD_AFTER_TEARING_TD3,PARALLEL_CORD_AFTER_TEARING_TD4,
        PARALLEL_CORD_AFTER_TEARING_TD5,PARALLEL_CORD_AFTER_TEARING_TD6,
        PARALLEL_CORD_SPACER_BAR_TD1,PARALLEL_CORD_SPACER_BAR_TD2,
        PARALLEL_CORD_SPACER_BAR_TD3,PARALLEL_CORD_SPACER_BAR_TD4,
        PARALLEL_CORD_SPACER_BAR_TD5,PARALLEL_CORD_SPACER_BAR_TD6,
        PARALLEL_CORD_BEFORE_TEARING_DV,,PARALLEL_CORD_AFTER_TEARING_DV,
        PARALLEL_CORD_SPACER_BAR_DV,INSUL_TS_TIME,INSUL_TS_TEMP,SHEATH_TS_TIME,SHEATH_TS_TEMP,
        INSUL_LT_BEND_TEMP,INSUL_LT_BEND_TIME,INSUL_LT_BEND_LENGHT,SHEATH_LT_BEND_TEMP,
        SHEATH_LT_BEND_TIME,SHEATH_LT_BEND_LENGHT,INSUL_HTG_DV,SHEATH_HTG_DV,SHEATH_SURFACE_R,
        SHEATH_SURFACE_R_DV,CSA_DV,SPINDLE_NUM,SPINDLE_ROOT_NUM,SINGLE_SHIELD_DIAMETER,
        PITCH,SHIELD_DIAMETER,INSUL_OD_DV,PEEL_STRENGTH_TD1,PEEL_STRENGTH_TD2,PEEL_STRENGTH_TD3
        PEEL_STRENGTH_TD4,LT_BEND_BREAKDOWN,LT_BEND_LENGHT,THC_LENGHT,THC_LN,THC_CRACK,
        HOT_WATER_RESISTANCE_LENGHT,HOT_WATER_RESISTANCE_LN,HOT_WATER_RESISTANCE_CRACK,
        HOT_WATER_RESISTANCE_FORWARD,HOT_WATER_RESISTANCE_REVERSE,WATER_RESISTANCE_GASOLINE_LN,
        WATER_RESISTANCE_GASOLINE_TD,WATER_RESISTANCE_GASOLINE_PCT,WATER_RESISTANCE_GASOLINE_CRACK,
        WATER_RESISTANCE_ETHANOL_LN,WATER_RESISTANCE_ETHANOL_TD,WATER_RESISTANCE_ETHANOL_PCT,
        WATER_RESISTANCE_ETHANOL_CRACK,WATER_RESISTANCE_DIESEL_OIL_LN,WATER_RESISTANCE_DIESEL_OIL_TD,
        WATER_RESISTANCE_DIESEL_OIL_PCT,WATER_RESISTANCE_DIESEL_OIL_CRACK,WATER_RESISTANCE_IRM902_LN,
        WATER_RESISTANCE_IRM902_TD,WATER_RESISTANCE_IRM902_PCT,WATER_RESISTANCE_IRM902_CRACK,
        WATER_RESISTANCE_IRM903_LN,WATER_RESISTANCE_IRM903_TD,WATER_RESISTANCE_IRM903_PCT,
        WATER_RESISTANCE_IRM903_CRACK,WATER_RESISTANCE_ATF_LN,WATER_RESISTANCE_ATF_TD,
        WATER_RESISTANCE_ATF_PCT,WATER_RESISTANCE_ATF_CRACK,WATER_RESISTANCE_ANTIFREEZE_LN,
        WATER_RESISTANCE_ANTIFREEZE_TD,WATER_RESISTANCE_ANTIFREEZE_PCT,WATER_RESISTANCE_ANTIFREEZE_CRACK,
        WATER_RESISTANCE_BATTERY_ACID_LN,WATER_RESISTANCE_BATTERY_ACID_TD,WATER_RESISTANCE_BATTERY_ACID_PCT,
        WATER_RESISTANCE_BATTERY_ACID_CRACK,FR_SELF_EXTINGUISHING_DV,FR_SELF_EXTINGUISHING_TIME,
        FR_SELF_EXTINGUISHING_TD1,FR_SELF_EXTINGUISHING_TD2,FR_SELF_EXTINGUISHING_TD3,FR_UNBURNED_TD1,
        FR_UNBURNED_TD2,FR_UNBURNED_TD3,HTE,DIELECTRIC_POK
    </sql>
</mapper>
