<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.PublicDataMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.PublicData">
            <result property="reportNo" column="REPORT_NO" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        REPORT_NO,SHEATH_OD_TD1,SHEATH_OD_TD2,
        SHEATH_OD_TD3,SHEATH_OD_TD4,SHEATH_OD_TD5,
        SHEATH_OD_TD6,SHEATH_THK_TD1,SHEATH_THK_TD2,
        SHEATH_THK_TD3,SHEATH_THK_TD4,SHEATH_THK_TD5,
        SHEATH_THK_TD6,SHEATH_UNAGED_ELONGATION_TD1,SHEATH_UNAGED_ELONGATION_TD2,
        SHEATH_UNAGED_ELONGATION_TD3,SHEATH_UNAGED_ELONGATION_TD4,SHEATH_UNAGED_ELONGATION_TD5,
        SHEATH_UNAGED_ELONGATION_TD6,SHEATH_UNAGED_PULL_TD1,SHEATH_UNAGED_PULL_TD2,
        SHEATH_UNAGED_PULL_TD3,SHEATH_UNAGED_PULL_TD4,SHEATH_UNAGED_PULL_TD5,
        SHEATH_UNAGED_PULL_TD6,SHEATH_AGING_ELONGATION_TD1,SHEATH_AGING_ELONGATION_TD2,
        SHEATH_AGING_ELONGATION_TD3,SHEATH_AGING_ELONGATION_TD4,SHEATH_AGING_ELONGATION_TD5,
        SHEATH_AGING_ELONGATION_TD6,SHEATH_AGING_PULL_TD1,SHEATH_AGING_PULL_TD2,
        SHEATH_AGING_PULL_TD3,SHEATH_AGING_PULL_TD4,SHEATH_AGING_PULL_TD5,
        SHEATH_AGING_PULL_TD6,CSG_FRONT_THK,CSG_REAR_THK,
        SPG_LENGTH,SPG_EMPTY_WEIGHT,SPG_WATER_WEIGHT,
        HTE_MARK_LENGTH,HTE_EXTENSION_LENGTH,SHEATH_THK_TD7,SHEATH_THK_TD8
        SHEATH_THK_TD9,SHEATH_THK_TD10
    </sql>
</mapper>
