<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.User">
            <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="userPassword" column="USER_PASSWORD" jdbcType="VARCHAR"/>
            <result property="userPermissions" column="USER_PERMISSIONS" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,USER_NAME,USER_PASSWORD,
        USER_PERMISSIONS
    </sql>
    <select id="selectAllByUserIdAndUserNameAndUserPermissions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FPR_USER
        <where>
            <if test="userId != null and userId != ''">
                AND USER_ID like CONCAT(CONCAT('%',#{userId}),'%')
            </if>
            <if test="userName != null and userName != ''">
                AND USER_NAME like CONCAT(CONCAT('%',#{userName}),'%')
            </if>
            <if test="userPermissions != null and userPermissions!=0">
                AND USER_PERMISSIONS =#{userPermissions,jdbcType=NUMERIC}
            </if>
        </where>
    </select>
    <insert id="insertSelective">
        insert into FPR_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">USER_ID,</if>
            <if test="userName != null">USER_NAME,</if>
            <if test="userPassword != null">USER_PASSWORD,</if>
            <if test="userPermissions != null">USER_PERMISSIONS,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
            <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
            <if test="userPassword != null">#{userPassword,jdbcType=VARCHAR},</if>
            <if test="userPermissions != null">#{userPermissions,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateUserPermissionsByUserId">
        update FPR_USER
        set USER_PERMISSIONS = #{userPermissions,jdbcType=NUMERIC}
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
    <delete id="delByUserId">
        delete
        from FPR_USER
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </delete>
    <update id="updateUserPasswordByUserId">
        update FPR_USER
        set USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>

</mapper>
