<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.VisibleMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.Visible">
            <result property="isColor" column="IS_COLOR" jdbcType="DECIMAL"/>
            <result property="isNum" column="IS_NUM" jdbcType="DECIMAL"/>
            <result property="isDiameter" column="IS_DIAMETER" jdbcType="DECIMAL"/>
            <result property="isCsa" column="IS_CSA" jdbcType="DECIMAL"/>
            <result property="isInsulOd" column="IS_INSUL_OD" jdbcType="DECIMAL"/>
            <result property="isInsulThkAvg" column="IS_INSUL_THK_AVG" jdbcType="DECIMAL"/>
            <result property="isInsulThkMin" column="IS_INSUL_THK_MIN" jdbcType="DECIMAL"/>
            <result property="isSheathOd" column="IS_SHEATH_OD" jdbcType="DECIMAL"/>
            <result property="isSheathThkAvg" column="IS_SHEATH_THK_AVG" jdbcType="DECIMAL"/>
            <result property="isSheathThkMin" column="IS_SHEATH_THK_MIN" jdbcType="DECIMAL"/>
            <result property="isInsulBiCondition" column="IS_INSUL_BI_CONDITION" jdbcType="DECIMAL"/>
            <result property="isInsulUnagedEi" column="IS_INSUL_UNAGED_EI" jdbcType="DECIMAL"/>
            <result property="isInsulUnagedTs" column="IS_INSUL_UNAGED_TS" jdbcType="DECIMAL"/>
            <result property="isInsulAgingEi" column="IS_INSUL_AGING_EI" jdbcType="DECIMAL"/>
            <result property="isInsulAgingTs" column="IS_INSUL_AGING_TS" jdbcType="DECIMAL"/>
            <result property="isSheathBiCondition" column="IS_SHEATH_BI_CONDITION" jdbcType="DECIMAL"/>
            <result property="isSheathUnagedEi" column="IS_SHEATH_UNAGED_EI" jdbcType="DECIMAL"/>
            <result property="isSheathUnagedTs" column="IS_SHEATH_UNAGED_TS" jdbcType="DECIMAL"/>
            <result property="isSheathAgingEi" column="IS_SHEATH_AGING_EI" jdbcType="DECIMAL"/>
            <result property="isSheathAgingTs" column="IS_SHEATH_AGING_TS" jdbcType="DECIMAL"/>
            <result property="isPrintingErasibilit" column="IS_PRINTING_ERASIBILIT" jdbcType="DECIMAL"/>
            <result property="isConductorCorrosion" column="IS_CONDUCTOR_CORROSION" jdbcType="DECIMAL"/>
            <result property="isTsCrack" column="IS_TS_CRACK" jdbcType="DECIMAL"/>
            <result property="isLtBendCrack" column="IS_LT_BEND_CRACK" jdbcType="DECIMAL"/>
            <result property="isFlexibilityCrack" column="IS_FLEXIBILITY_CRACK" jdbcType="DECIMAL"/>
            <result property="isInsulHtgDeformationRate" column="IS_INSUL_HTG_DEFORMATION_RATE" jdbcType="DECIMAL"/>
            <result property="isSheathHtgDeformationRate" column="IS_SHEATH_HTG_DEFORMATION_RATE" jdbcType="DECIMAL"/>
            <result property="isConductor20Dcr" column="IS_CONDUCTOR20_DCR" jdbcType="DECIMAL"/>
            <result property="isIrCalc" column="IS_IR_CALC" jdbcType="DECIMAL"/>
            <result property="isDielectricIiiPok" column="IS_DIELECTRIC_III_POK" jdbcType="DECIMAL"/>
            <result property="isDielectricIPok" column="IS_DIELECTRIC_I_POK" jdbcType="DECIMAL"/>
            <result property="isHvdcWirePok" column="IS_HVDC_WIRE_POK" jdbcType="DECIMAL"/>
            <result property="isVw1" column="IS_VW1" jdbcType="DECIMAL"/>
            <result property="isFt2" column="IS_FT2" jdbcType="DECIMAL"/>
            <result property="isUlHorizontalBurning" column="IS_UL_HORIZONTAL_BURNING" jdbcType="DECIMAL"/>
            <result property="isThermalElongation" column="IS_THERMAL_ELONGATION" jdbcType="DECIMAL"/>
            <result property="reportNo" column="REPORT_NO" jdbcType="VARCHAR"/>
            <result property="isMaterialQuality" column="IS_MATERIAL_QUALITY" jdbcType="DECIMAL"/>
            <result property="isInsulMaterialQuality" column="IS_INSUL_MATERIAL_QUALITY" jdbcType="DECIMAL"/>
            <result property="isSheathMaterialQuality" column="IS_SHEATH_MATERIAL_QUALITY" jdbcType="DECIMAL"/>
            <result property="isEllipticity" column="IS_ELLIPTICITY" jdbcType="DECIMAL"/>
            <result property="isInsulUnagedEiMvs" column="IS_INSUL_UNAGED_EI_MVS" jdbcType="DECIMAL"/>
            <result property="isInsulUnagedTsMvs" column="IS_INSUL_UNAGED_TS_MVS" jdbcType="DECIMAL"/>
            <result property="isInsulAgingEiMvs" column="IS_INSUL_AGING_EI_MVS" jdbcType="DECIMAL"/>
            <result property="isInsulAgingTsMvs" column="IS_INSUL_AGING_TS_MVS" jdbcType="DECIMAL"/>
            <result property="isSheathUnagedEiMvs" column="IS_SHEATH_UNAGED_EI_MVS" jdbcType="DECIMAL"/>
            <result property="isSheathUnagedTsMvs" column="IS_SHEATH_UNAGED_TS_MVS" jdbcType="DECIMAL"/>
            <result property="isSheathAgingEiMvs" column="IS_SHEATH_AGING_EI_MVS" jdbcType="DECIMAL"/>
            <result property="isSheathAgingTsMvs" column="IS_SHEATH_AGING_TS_MVS" jdbcType="DECIMAL"/>
            <result property="isWl" column="IS_WL" jdbcType="DECIMAL"/>
            <result property="isLowTemperatureImpact" column="IS_LOW_TEMPERATURE_IMPACT" jdbcType="DECIMAL"/>
            <result property="isHthp" column="IS_HTHP" jdbcType="DECIMAL"/>
            <result property="isThermalStability" column="IS_THERMAL_STABILITY" jdbcType="DECIMAL"/>
            <result property="isFlexureTest" column="IS_FLEXURE_TEST" jdbcType="DECIMAL"/>
            <result property="isPrintingSpace" column="IS_PRINTING_SPACE" jdbcType="DECIMAL"/>
            <result property="isIr90Calc" column="IS_IR90_CALC" jdbcType="DECIMAL"/>
            <result property="isDielectricPok" column="IS_DIELECTRIC_POK" jdbcType="DECIMAL"/>
            <result property="isGbTbfStartDistance" column="IS_GB_TBF_START_DISTANCE" jdbcType="DECIMAL"/>
            <result property="isBeforeTearingThkMin" column="IS_BEFORE_TEARING_THK_MIN" jdbcType="DECIMAL"/>
            <result property="isAfterTearingThkMin" column="IS_AFTER_TEARING_THK_MIN" jdbcType="DECIMAL"/>
            <result property="isSpacerBarThkMin" column="IS_SPACER_BAR_THK_MIN" jdbcType="DECIMAL"/>
            <result property="isSheathSurfaceR" column="IS_SHEATH_SURFACE_R" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        IS_COLOR,IS_NUM,IS_DIAMETER,
        IS_CSA,IS_INSUL_OD,IS_INSUL_THK_AVG,
        IS_INSUL_THK_MIN,IS_SHEATH_OD,IS_SHEATH_THK_AVG,
        IS_SHEATH_THK_MIN,IS_INSUL_BI_CONDITION,IS_INSUL_UNAGED_EI,
        IS_INSUL_UNAGED_TS,IS_INSUL_AGING_EI,IS_INSUL_AGING_TS,
        IS_SHEATH_BI_CONDITION,IS_SHEATH_UNAGED_EI,IS_SHEATH_UNAGED_TS,
        IS_SHEATH_AGING_EI,IS_SHEATH_AGING_TS,IS_PRINTING_ERASIBILIT,
        IS_CONDUCTOR_CORROSION,IS_TS_CRACK,IS_LT_BEND_CRACK,
        IS_FLEXIBILITY_CRACK,IS_INSUL_HTG_DEFORMATION_RATE,IS_SHEATH_HTG_DEFORMATION_RATE,
        IS_CONDUCTOR20_DCR,IS_IR_CALC,IS_DIELECTRIC_III_POK,
        IS_DIELECTRIC_I_POK,IS_HVDC_WIRE_POK,IS_VW1,
        IS_FT2,IS_UL_HORIZONTAL_BURNING,IS_THERMAL_ELONGATION,
        REPORT_NO,IS_MATERIAL_QUALITY,IS_INSUL_MATERIAL_QUALITY,
        IS_SHEATH_MATERIAL_QUALITY,IS_ELLIPTICITY,IS_INSUL_UNAGED_EI_MVS,
        IS_INSUL_UNAGED_TS_MVS,IS_INSUL_AGING_EI_MVS,IS_INSUL_AGING_TS_MVS,
        IS_SHEATH_UNAGED_EI_MVS,IS_SHEATH_UNAGED_TS_MVS,IS_SHEATH_AGING_EI_MVS,
        IS_SHEATH_AGING_TS_MVS,IS_WL,IS_LOW_TEMPERATURE_IMPACT,
        IS_HTHP,IS_THERMAL_STABILITY,IS_FLEXURE_TEST,
        IS_PRINTING_SPACE,IS_IR90_CALC,IS_DIELECTRIC_POK,
        IS_GB_TBF_START_DISTANCE,IS_BEFORE_TEARING_THK_MIN,IS_AFTER_TEARING_THK_MIN,
        IS_SPACER_BAR_THK_MIN,IS_SHEATH_SURFACE_R,IS_BRAIDING_DENSITY,IS_PEEL_STRENGTH,
        IS_THC,IS_HOT_WATER_RESISTANCE,IS_WATER_RESISTANCE,IS_FR,IS_LOW_TEMPERATURE_WINDING,
        IS_AR,IS_LONG_TERM_AGING,IS_SHORT_TERM_AGING,IS_THERMAL_OVERLOAD,IS_THERMAL_SHRINKAGE,
        IS_TEMPERATURE_HUMIDITY_HLTERNATION,IS_OZONE_RESISTANCE,IS_BATTERY_ACID,IS_BATTERY_ACID,
        IS_ADHESION,IS_HTG,IS_HR1_A,IS_HR1_B,IS_HR1_C
    </sql>
</mapper>
