<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.WireMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.Wire">
            <result property="reportNo" column="REPORT_NO" jdbcType="VARCHAR"/>
            <result property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="num" column="NUM" jdbcType="DECIMAL"/>
            <result property="color" column="COLOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        REPORT_NO,ID,NUM,
        COLOR,DIAMETER_TD1,DIAMETER_TD2,
        DIAMETER_TD3,DIAMETER_TD4,DIAMETER_TD5,
        DIAMETER_TD6,INSUL_OD_TD1,INSUL_OD_TD2,
        INSUL_OD_TD3,INSUL_OD_TD4,INSUL_OD_TD5,
        INSUL_OD_TD6,INSUL_THK_TD1,INSUL_THK_TD2,
        INSUL_THK_TD3,INSUL_THK_TD4,INSUL_THK_TD5,
        INSUL_THK_TD6,INSUL_THK_TD7,INSUL_THK_TD8,
        INSUL_THK_TD9,INSUL_THK_TD10,INSUL_UNAGED_ELONGATION_TD1,
        INSUL_UNAGED_ELONGATION_TD2,INSUL_UNAGED_ELONGATION_TD3,INSUL_UNAGED_ELONGATION_TD4,
        INSUL_UNAGED_ELONGATION_TD5,INSUL_UNAGED_ELONGATION_TD6,INSUL_UNAGED_PULL_TD1,
        INSUL_UNAGED_PULL_TD2,INSUL_UNAGED_PULL_TD3,INSUL_UNAGED_PULL_TD4,
        INSUL_UNAGED_PULL_TD5,INSUL_UNAGED_PULL_TD6,INSUL_AGING_ELONGATION_TD1,
        INSUL_AGING_ELONGATION_TD2,INSUL_AGING_ELONGATION_TD3,INSUL_AGING_ELONGATION_TD4,
        INSUL_AGING_ELONGATION_TD5,INSUL_AGING_ELONGATION_TD6,INSUL_AGING_PULL_TD1,
        INSUL_AGING_PULL_TD2,INSUL_AGING_PULL_TD3,INSUL_AGING_PULL_TD4,
        INSUL_AGING_PULL_TD5,INSUL_AGING_PULL_TD6,HTG_FRONT_AVG_DIAMETER,
        HTG_REAR_AVG_DIAMETER,IR_LENGTH,IR_TD,CONDUCTOR20_DCR_TD,MATERIAL_QUALITY,
        INSUL_MATERIAL_QUALITY,FIRTY807_UNAGED,SECOND807_AGING,INSUL_HTHP,
        INSUL_THK_TD11,INSUL_THK_TD12,INSUL_THK_TD13,INSUL_THK_TD14,INSUL_THK_TD15,
        INSUL_THK_TD16,INSUL_THK_TD17,INSUL_THK_TD18,COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD1,
        COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD2,COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD3,
        COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD4,COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD5,
        COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD6,COMPATIBILITY_INSUL_UNAGED_PULL_TD1,
        COMPATIBILITY_INSUL_UNAGED_PULL_TD2,COMPATIBILITY_INSUL_UNAGED_PULL_TD3,
        COMPATIBILITY_INSUL_UNAGED_PULL_TD4,COMPATIBILITY_INSUL_UNAGED_PULL_TD5,
        COMPATIBILITY_INSUL_UNAGED_PULL_TD6,COMPATIBILITY_INSUL_AGING_ELONGATION_TD1,
        COMPATIBILITY_INSUL_AGING_ELONGATION_TD2,COMPATIBILITY_INSUL_AGING_ELONGATION_TD3,
        COMPATIBILITY_INSUL_AGING_ELONGATION_TD4,COMPATIBILITY_INSUL_AGING_ELONGATION_TD5,
        COMPATIBILITY_INSUL_AGING_ELONGATION_TD6,COMPATIBILITY_INSUL_AGING_PULL_TD1,
        COMPATIBILITY_INSUL_AGING_PULL_TD2,COMPATIBILITY_INSUL_AGING_PULL_TD3,
        COMPATIBILITY_INSUL_AGING_PULL_TD4,COMPATIBILITY_INSUL_AGING_PULL_TD5,
        COMPATIBILITY_INSUL_AGING_PULL_TD6,THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD1,
        THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD2,THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD3,
        THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD4,THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD5,
        THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD6,THERMAL_LIFE_INSUL_UNAGED_PULL_TD1,
        THERMAL_LIFE_INSUL_UNAGED_PULL_TD2,THERMAL_LIFE_INSUL_UNAGED_PULL_TD3,
        THERMAL_LIFE_INSUL_UNAGED_PULL_TD4,THERMAL_LIFE_INSUL_UNAGED_PULL_TD5,
        THERMAL_LIFE_INSUL_UNAGED_PULL_TD6,THERMAL_LIFE_INSUL_AGING_ELONGATION_TD1,
        THERMAL_LIFE_INSUL_AGING_ELONGATION_TD2,THERMAL_LIFE_INSUL_AGING_ELONGATION_TD3,
        THERMAL_LIFE_INSUL_AGING_ELONGATION_TD4,THERMAL_LIFE_INSUL_AGING_ELONGATION_TD5,
        THERMAL_LIFE_INSUL_AGING_ELONGATION_TD6,THERMAL_LIFE_INSUL_AGING_PULL_TD1,
        THERMAL_LIFE_INSUL_AGING_PULL_TD2,THERMAL_LIFE_INSUL_AGING_PULL_TD3,
        THERMAL_LIFE_INSUL_AGING_PULL_TD4,THERMAL_LIFE_INSUL_AGING_PULL_TD5,
        THERMAL_LIFE_INSUL_AGING_PULL_TD6,INSUL_HOT_STRETCH_LOAD_HTE,INSUL_HOT_STRETCH_COOLING_HTE,
        IR_CALC,IR_CALC_IEC,AR,INSUL_THERMAL_SHRINKAGE,HOT_WATER_RESISTANCE_FORWARD,
        HOT_WATER_RESISTANCE_REVERSE,HOT_WATER_RESISTANCE_FORWARD_SAMPLE_LENGTH,
        HOT_WATER_RESISTANCE_REVERSE_SAMPLE_LENGTH,HOT_WATER_RESISTANCE_CRACK,PEEL_STRENGTH,ADHESION
    </sql>
    <delete id="deleteListAllByReportNoAndId">
        delete
        from FPR_WIRE
        where REPORT_NO = #{reportNo,jdbcType=VARCHAR} AND ID IN
        <foreach collection="wireList" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </delete>
    <update id="updateAllByReportNoAndId">
        update FPR_WIRE
        <set>
            <if test="num!=null and num!=''">
                NUM = #{num},
            </if>
            <if test="color!=null and color!=''">
                COLOR = #{color},
            </if>
            <if test="diameterTd1!=null and diameterTd1!=''">
                DIAMETER_TD1 = #{diameterTd1},
            </if>
            <if test="diameterTd2!=null and diameterTd2!=''">
                DIAMETER_TD2 = #{diameterTd2},
            </if>
            <if test="diameterTd3!=null and diameterTd3!=''">
                DIAMETER_TD3 = #{diameterTd3},
            </if>
            <if test="diameterTd4!=null and diameterTd4!=''">
                DIAMETER_TD4 = #{diameterTd4},
            </if>
            <if test="diameterTd5!=null and diameterTd5!=''">
                DIAMETER_TD5 = #{diameterTd5},
            </if>
            <if test="diameterTd6!=null and diameterTd6!=''">
                DIAMETER_TD6 = #{diameterTd6},
            </if>
            <if test="insulOdTd1!=null and insulOdTd1!=''">
                INSUL_OD_TD1 = #{insulOdTd1},
            </if>
            <if test="insulOdTd2!=null and insulOdTd2!=''">
                INSUL_OD_TD2 = #{insulOdTd2},
            </if>
            <if test="insulOdTd3!=null and insulOdTd3!=''">
                INSUL_OD_TD3 = #{insulOdTd3},
            </if>
            <if test="insulOdTd4!=null and insulOdTd4!=''">
                INSUL_OD_TD4 = #{insulOdTd4},
            </if>
            <if test="insulOdTd5!=null and insulOdTd5!=''">
                INSUL_OD_TD5 = #{insulOdTd5},
            </if>
            <if test="insulOdTd6!=null and insulOdTd6!=''">
                INSUL_OD_TD6 = #{insulOdTd6},
            </if>
            <if test="insulThkTd1!=null and insulThkTd1!=''">
                INSUL_THK_TD1 = #{insulThkTd1},
            </if>
            <if test="insulThkTd2!=null and insulThkTd2!=''">
                INSUL_THK_TD2 = #{insulThkTd2},
            </if>
            <if test="insulThkTd3!=null and insulThkTd3!=''">
                INSUL_THK_TD3 = #{insulThkTd3},
            </if>
            <if test="insulThkTd4!=null and insulThkTd4!=''">
                INSUL_THK_TD4 = #{insulThkTd4},
            </if>
            <if test="insulThkTd5!=null and insulThkTd5!=''">
                INSUL_THK_TD5 = #{insulThkTd5},
            </if>
            <if test="insulThkTd6!=null and insulThkTd6!=''">
                INSUL_THK_TD6 = #{insulThkTd6},
            </if>
            <if test="insulThkTd7!=null and insulThkTd7!=''">
                INSUL_THK_TD7 = #{insulThkTd7},
            </if>
            <if test="insulThkTd8!=null and insulThkTd8!=''">
                INSUL_THK_TD8 = #{insulThkTd8},
            </if>
            <if test="insulThkTd9!=null and insulThkTd9!=''">
                INSUL_THK_TD9 = #{insulThkTd9},
            </if>
            <if test="insulThkTd10!=null and insulThkTd10!=''">
                INSUL_THK_TD10 = #{insulThkTd10},
            </if>
            <if test="insulUnagedElongationTd1!=null and insulUnagedElongationTd1!=''">
                INSUL_UNAGED_ELONGATION_TD1 = #{insulUnagedElongationTd1},
            </if>
            <if test="insulUnagedElongationTd2!=null and insulUnagedElongationTd2!=''">
                INSUL_UNAGED_ELONGATION_TD2 = #{insulUnagedElongationTd2},
            </if>
            <if test="insulUnagedElongationTd3!=null and insulUnagedElongationTd3!=''">
                INSUL_UNAGED_ELONGATION_TD3 = #{insulUnagedElongationTd3},
            </if>
            <if test="insulUnagedElongationTd4!=null and insulUnagedElongationTd4!=''">
                INSUL_UNAGED_ELONGATION_TD4 = #{insulUnagedElongationTd4},
            </if>
            <if test="insulUnagedElongationTd5!=null and insulUnagedElongationTd5!=''">
                INSUL_UNAGED_ELONGATION_TD5 = #{insulUnagedElongationTd5},
            </if>
            <if test="insulUnagedElongationTd6!=null and insulUnagedElongationTd6!=''">
                INSUL_UNAGED_ELONGATION_TD6 = #{insulUnagedElongationTd6},
            </if>
            <if test="insulUnagedPullTd1!=null and insulUnagedPullTd1!=''">
                INSUL_UNAGED_PULL_TD1 = #{insulUnagedPullTd1},
            </if>
            <if test="insulUnagedPullTd2!=null and insulUnagedPullTd2!=''">
                INSUL_UNAGED_PULL_TD2 = #{insulUnagedPullTd2},
            </if>
            <if test="insulUnagedPullTd3!=null and insulUnagedPullTd3!=''">
                INSUL_UNAGED_PULL_TD3 = #{insulUnagedPullTd3},
            </if>
            <if test="insulUnagedPullTd4!=null and insulUnagedPullTd4!=''">
                INSUL_UNAGED_PULL_TD4 = #{insulUnagedPullTd4},
            </if>
            <if test="insulUnagedPullTd5!=null and insulUnagedPullTd5!=''">
                INSUL_UNAGED_PULL_TD5 = #{insulUnagedPullTd5},
            </if>
            <if test="insulUnagedPullTd6!=null and insulUnagedPullTd6!=''">
                INSUL_UNAGED_PULL_TD6 = #{insulUnagedPullTd6},
            </if>
            <if test="insulAgingElongationTd1!=null and insulAgingElongationTd1!=''">
                INSUL_AGING_ELONGATION_TD1 = #{insulAgingElongationTd1},
            </if>
            <if test="insulAgingElongationTd2!=null and insulAgingElongationTd2!=''">
                INSUL_AGING_ELONGATION_TD2 = #{insulAgingElongationTd2},
            </if>
            <if test="insulAgingElongationTd3!=null and insulAgingElongationTd3!=''">
                INSUL_AGING_ELONGATION_TD3 = #{insulAgingElongationTd3},
            </if>
            <if test="insulAgingElongationTd4!=null and insulAgingElongationTd4!=''">
                INSUL_AGING_ELONGATION_TD4 = #{insulAgingElongationTd4},
            </if>
            <if test="insulAgingElongationTd5!=null and insulAgingElongationTd5!=''">
                INSUL_AGING_ELONGATION_TD5 = #{insulAgingElongationTd5},
            </if>
            <if test="insulAgingElongationTd6!=null and insulAgingElongationTd6!=''">
                INSUL_AGING_ELONGATION_TD6 = #{insulAgingElongationTd6},
            </if>
            <if test="insulAgingPullTd1!=null and insulAgingPullTd1!=''">
                INSUL_AGING_PULL_TD1 = #{insulAgingPullTd1},
            </if>
            <if test="insulAgingPullTd2!=null and insulAgingPullTd2!=''">
                INSUL_AGING_PULL_TD2 = #{insulAgingPullTd2},
            </if>
            <if test="insulAgingPullTd3!=null and insulAgingPullTd3!=''">
                INSUL_AGING_PULL_TD3 = #{insulAgingPullTd3},
            </if>
            <if test="insulAgingPullTd4!=null and insulAgingPullTd4!=''">
                INSUL_AGING_PULL_TD4 = #{insulAgingPullTd4},
            </if>
            <if test="insulAgingPullTd5!=null and insulAgingPullTd5!=''">
                INSUL_AGING_PULL_TD5 = #{insulAgingPullTd5},
            </if>
            <if test="insulAgingPullTd6!=null and insulAgingPullTd6!=''">
                INSUL_AGING_PULL_TD6 = #{insulAgingPullTd6},
            </if>
            <if test="htgFrontAvgDiameter!=null and htgFrontAvgDiameter!=''">
                HTG_FRONT_AVG_DIAMETER = #{htgFrontAvgDiameter},
            </if>
            <if test="htgRearAvgDiameter!=null and htgRearAvgDiameter!=''">
                HTG_REAR_AVG_DIAMETER = #{htgRearAvgDiameter},
            </if>
            <if test="irLength!=null and irLength!=''">
                IR_LENGTH = #{irLength},
            </if>
            <if test="irTd!=null and irTd!=''">
                IR_TD = #{irTd},
            </if>
            <if test="conductor20DcrTd!=null and conductor20DcrTd!=''">
                CONDUCTOR20_DCR_TD = #{conductor20DcrTd},
            </if>
            <if test="materialQuality!=null and materialQuality!=''">
                MATERIAL_QUALITY = #{materialQuality},
            </if>
            <if test="insulMaterialQuality!=null and insulMaterialQuality!=''">
                INSUL_MATERIAL_QUALITY = #{insulMaterialQuality},
            </if>
            <if test="firty807Unaged!=null and firty807Unaged!=''">
                FIRTY807_UNAGED = #{firty807Unaged},
            </if>
            <if test="second807Aging!=null and second807Aging!=''">
                SECOND807_AGING = #{second807Aging},
            </if>
            <if test="insulHthp!=null and insulHthp!=''">
                INSUL_HTHP = #{insulHthp},
            </if>
            <if test="insulThkTd11!=null and insulThkTd11!=''">
                INSUL_THK_TD11 = #{insulThkTd11},
            </if>
            <if test="insulThkTd12!=null and insulThkTd12!=''">
                INSUL_THK_TD12 = #{insulThkTd12},
            </if>
            <if test="insulThkTd13!=null and insulThkTd13!=''">
                INSUL_THK_TD13 = #{insulThkTd13},
            </if>
            <if test="insulThkTd14!=null and insulThkTd14!=''">
                INSUL_THK_TD14 = #{insulThkTd14},
            </if>
            <if test="insulThkTd15!=null and insulThkTd15!=''">
                INSUL_THK_TD15 = #{insulThkTd15},
            </if>
            <if test="insulThkTd16!=null and insulThkTd16!=''">
                INSUL_THK_TD16 = #{insulThkTd16},
            </if>
            <if test="insulThkTd17!=null and insulThkTd17!=''">
                INSUL_THK_TD17 = #{insulThkTd17},
            </if>
            <if test="insulThkTd18!=null and insulThkTd18!=''">
                INSUL_THK_TD18 = #{insulThkTd18},
            </if>
            <if test="compatibilityInsulUnagedElongationTd1!=null and compatibilityInsulUnagedElongationTd1!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD1 = #{compatibilityInsulUnagedElongationTd1},
            </if>
            <if test="compatibilityInsulUnagedElongationTd2!=null and compatibilityInsulUnagedElongationTd2!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD2 = #{compatibilityInsulUnagedElongationTd2},
            </if>
            <if test="compatibilityInsulUnagedElongationTd3!=null and compatibilityInsulUnagedElongationTd3!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD3 = #{compatibilityInsulUnagedElongationTd3},
            </if>
            <if test="compatibilityInsulUnagedElongationTd4!=null and compatibilityInsulUnagedElongationTd4!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD4 = #{compatibilityInsulUnagedElongationTd4},
            </if>
            <if test="compatibilityInsulUnagedElongationTd5!=null and compatibilityInsulUnagedElongationTd5!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD5 = #{compatibilityInsulUnagedElongationTd5},
            </if>
            <if test="compatibilityInsulUnagedElongationTd6!=null and compatibilityInsulUnagedElongationTd6!=''">
                COMPATIBILITY_INSUL_UNAGED_ELONGATION_TD6 = #{compatibilityInsulUnagedElongationTd6},
            </if>
            <if test="compatibilityInsulUnagedElongationTd1!=null and compatibilityInsulUnagedElongationTd1!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD1 = #{compatibilityInsulUnagedElongationTd1},
            </if>
            <if test="compatibilityInsulUnagedPullTd1!=null and compatibilityInsulUnagedPullTd1!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD1 = #{compatibilityInsulUnagedPullTd1},
            </if>
            <if test="compatibilityInsulUnagedPullTd2!=null and compatibilityInsulUnagedPullTd2!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD2 = #{compatibilityInsulUnagedPullTd2},
            </if>
            <if test="compatibilityInsulUnagedPullTd3!=null and compatibilityInsulUnagedPullTd3!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD3 = #{compatibilityInsulUnagedPullTd3},
            </if>
            <if test="compatibilityInsulUnagedPullTd4!=null and compatibilityInsulUnagedPullTd4!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD4 = #{compatibilityInsulUnagedPullTd4},
            </if>
            <if test="compatibilityInsulUnagedPullTd5!=null and compatibilityInsulUnagedPullTd5!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD5 = #{compatibilityInsulUnagedPullTd5},
            </if>
            <if test="compatibilityInsulUnagedPullTd6!=null and compatibilityInsulUnagedPullTd6!=''">
                COMPATIBILITY_INSUL_UNAGED_PULL_TD6 = #{compatibilityInsulUnagedPullTd6},
            </if>
            <if test="compatibilityInsulAgingElongationTd1!=null and compatibilityInsulAgingElongationTd1!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD1 = #{compatibilityInsulAgingElongationTd1},
            </if>
            <if test="compatibilityInsulAgingElongationTd2!=null and compatibilityInsulAgingElongationTd2!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD2 = #{compatibilityInsulAgingElongationTd2},
            </if>
            <if test="compatibilityInsulAgingElongationTd3!=null and compatibilityInsulAgingElongationTd3!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD3 = #{compatibilityInsulAgingElongationTd3},
            </if>
            <if test="compatibilityInsulAgingElongationTd4!=null and compatibilityInsulAgingElongationTd4!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD4 = #{compatibilityInsulAgingElongationTd4},
            </if>
            <if test="compatibilityInsulAgingElongationTd5!=null and compatibilityInsulAgingElongationTd5!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD5 = #{compatibilityInsulAgingElongationTd5},
            </if>
            <if test="compatibilityInsulAgingElongationTd6!=null and compatibilityInsulAgingElongationTd6!=''">
                COMPATIBILITY_INSUL_AGING_ELONGATION_TD6 = #{compatibilityInsulAgingElongationTd6},
            </if>
            <if test="compatibilityInsulAgingPullTd1!=null and compatibilityInsulAgingPullTd1!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD1 = #{compatibilityInsulAgingPullTd1},
            </if>
            <if test="compatibilityInsulAgingPullTd2!=null and compatibilityInsulAgingPullTd2!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD2 = #{compatibilityInsulAgingPullTd2},
            </if>
            <if test="compatibilityInsulAgingPullTd3!=null and compatibilityInsulAgingPullTd3!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD3 = #{compatibilityInsulAgingPullTd3},
            </if>
            <if test="compatibilityInsulAgingPullTd4!=null and compatibilityInsulAgingPullTd4!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD4 = #{compatibilityInsulAgingPullTd4},
            </if>
            <if test="compatibilityInsulAgingPullTd5!=null and compatibilityInsulAgingPullTd5!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD5 = #{compatibilityInsulAgingPullTd5},
            </if>
            <if test="compatibilityInsulAgingPullTd6!=null and compatibilityInsulAgingPullTd6!=''">
                COMPATIBILITY_INSUL_AGING_PULL_TD6 = #{compatibilityInsulAgingPullTd6},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd1!=null and thermalLifeInsulUnagedElongationTd1!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD1 = #{thermalLifeInsulUnagedElongationTd1},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd2!=null and thermalLifeInsulUnagedElongationTd2!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD2 = #{thermalLifeInsulUnagedElongationTd2},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd3!=null and thermalLifeInsulUnagedElongationTd3!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD3 = #{thermalLifeInsulUnagedElongationTd3},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd4!=null and thermalLifeInsulUnagedElongationTd4!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD4 = #{thermalLifeInsulUnagedElongationTd4},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd5!=null and thermalLifeInsulUnagedElongationTd5!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD5 = #{thermalLifeInsulUnagedElongationTd5},
            </if>
            <if test="thermalLifeInsulUnagedElongationTd6!=null and thermalLifeInsulUnagedElongationTd6!=''">
                THERMAL_LIFE_INSUL_UNAGED_ELONGATION_TD6 = #{thermalLifeInsulUnagedElongationTd6},
            </if>
            <if test="thermalLifeInsulUnagedPullTd1!=null and thermalLifeInsulUnagedPullTd1!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD1 = #{thermalLifeInsulUnagedPullTd1},
            </if>
            <if test="thermalLifeInsulUnagedPullTd2!=null and thermalLifeInsulUnagedPullTd2!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD2 = #{thermalLifeInsulUnagedPullTd2},
            </if>
            <if test="thermalLifeInsulUnagedPullTd3!=null and thermalLifeInsulUnagedPullTd3!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD3 = #{thermalLifeInsulUnagedPullTd3},
            </if>
            <if test="thermalLifeInsulUnagedPullTd4!=null and thermalLifeInsulUnagedPullTd4!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD4 = #{thermalLifeInsulUnagedPullTd4},
            </if>
            <if test="thermalLifeInsulUnagedPullTd5!=null and thermalLifeInsulUnagedPullTd5!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD5 = #{thermalLifeInsulUnagedPullTd5},
            </if>
            <if test="thermalLifeInsulUnagedPullTd6!=null and thermalLifeInsulUnagedPullTd6!=''">
                THERMAL_LIFE_INSUL_UNAGED_PULL_TD6 = #{thermalLifeInsulUnagedPullTd6},
            </if>
            <if test="thermalLifeInsulAgingElongationTd1!=null and thermalLifeInsulAgingElongationTd1!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD1 = #{thermalLifeInsulAgingElongationTd1},
            </if>
            <if test="thermalLifeInsulAgingElongationTd2!=null and thermalLifeInsulAgingElongationTd2!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD2 = #{thermalLifeInsulAgingElongationTd2},
            </if>
            <if test="thermalLifeInsulAgingElongationTd3!=null and thermalLifeInsulAgingElongationTd3!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD3 = #{thermalLifeInsulAgingElongationTd3},
            </if>
            <if test="thermalLifeInsulAgingElongationTd4!=null and thermalLifeInsulAgingElongationTd4!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD4 = #{thermalLifeInsulAgingElongationTd4},
            </if>
            <if test="thermalLifeInsulAgingElongationTd5!=null and thermalLifeInsulAgingElongationTd5!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD5 = #{thermalLifeInsulAgingElongationTd5},
            </if>
            <if test="thermalLifeInsulAgingElongationTd6!=null and thermalLifeInsulAgingElongationTd6!=''">
                THERMAL_LIFE_INSUL_AGING_ELONGATION_TD6 = #{thermalLifeInsulAgingElongationTd6},
            </if>
            <if test="thermalLifeInsulAgingPullTd1!=null and thermalLifeInsulAgingPullTd1!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD1 = #{thermalLifeInsulAgingPullTd1},
            </if>
            <if test="thermalLifeInsulAgingPullTd2!=null and thermalLifeInsulAgingPullTd2!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD2 = #{thermalLifeInsulAgingPullTd2},
            </if>
            <if test="thermalLifeInsulAgingPullTd3!=null and thermalLifeInsulAgingPullTd3!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD3 = #{thermalLifeInsulAgingPullTd3},
            </if>
            <if test="thermalLifeInsulAgingPullTd4!=null and thermalLifeInsulAgingPullTd4!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD4 = #{thermalLifeInsulAgingPullTd4},
            </if>
            <if test="thermalLifeInsulAgingPullTd5!=null and thermalLifeInsulAgingPullTd5!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD5 = #{thermalLifeInsulAgingPullTd5},
            </if>
            <if test="thermalLifeInsulAgingPullTd6!=null and thermalLifeInsulAgingPullTd6!=''">
                THERMAL_LIFE_INSUL_AGING_PULL_TD6 = #{thermalLifeInsulAgingPullTd6},
            </if>
            <if test="insulHotStretchLoadHte!=null and insulHotStretchLoadHte!=''">
                INSUL_HOT_STRETCH_LOAD_HTE = #{insulHotStretchLoadHte},
            </if>
            <if test="insulHotStretchCoolingHte!=null and insulHotStretchCoolingHte!=''">
                INSUL_HOT_STRETCH_COOLING_HTE = #{insulHotStretchCoolingHte},
            </if>
            <if test="irCalc!=null and irCalc!=''">
                IR_CALC = #{irCalc},
            </if>
            <if test="irCalcIec!=null and irCalcIec!=''">
                IR_CALC_IEC = #{irCalcIec},
            </if>
            <if test="ar!=null and ar!=''">
                AR = #{ar},
            </if>
            <if test="insulThermalShrinkage!=null and insulThermalShrinkage!=''">
                INSUL_THERMAL_SHRINKAGE = #{insulThermalShrinkage},
            </if>
            <if test="hotWaterResistanceForward!=null and hotWaterResistanceForward!=''">
                HOT_WATER_RESISTANCE_FORWARD = #{hotWaterResistanceForward},
            </if>
            <if test="hotWaterResistanceReverse!=null and hotWaterResistanceReverse!=''">
                HOT_WATER_RESISTANCE_REVERSE = #{hotWaterResistanceReverse},
            </if>
            <if test="hotWaterResistanceForwardSampleLength!=null and hotWaterResistanceForwardSampleLength!=''">
                HOT_WATER_RESISTANCE_FORWARD_SAMPLE_LENGTH = #{hotWaterResistanceForwardSampleLength},
            </if>
            <if test="hotWaterResistanceReverseSampleLength!=null and hotWaterResistanceReverseSampleLength!=''">
                HOT_WATER_RESISTANCE_REVERSE_SAMPLE_LENGTH = #{hotWaterResistanceReverseSampleLength},
            </if>
            <if test="hotWaterResistanceCrack!=null and hotWaterResistanceCrack!=''">
                HOT_WATER_RESISTANCE_CRACK = #{hotWaterResistanceCrack},
            </if>
            <if test="peelStrength!=null and peelStrength!=''">
                PEEL_STRENGTH = #{peelStrength},
            </if>
            <if test="adhesion!=null and adhesion!=''">
                ADHESION = #{adhesion},
            </if>
            ID = #{id}
        </set>
        WHERE REPORT_NO = #{reportNo} AND ID = #{id}
    </update>
    <delete id="deleteByReportNo">
        delete
        from FPR_WIRE
        where REPORT_NO = #{reportNo,jdbcType=VARCHAR}
    </delete>
    <select id="selectAllByReportNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FPR_WIRE
        where
        REPORT_NO = #{reportNo,jdbcType=VARCHAR}
        ORDER BY ID
    </select>
</mapper>
