<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydz.fullperformancereport.mapper.ULElectronicWireMapper">

    <resultMap id="BaseResultMap" type="com.xydz.fullperformancereport.pojo.entity.ULElectronicWire">
            <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
            <result property="submitter" column="SUBMITTER" jdbcType="VARCHAR"/>
            <result property="testBasis" column="TEST_BASIS" jdbcType="VARCHAR"/>
            <result property="productName" column="PRODUCT_NAME" jdbcType="VARCHAR"/>
            <result property="specification" column="SPECIFICATION" jdbcType="VARCHAR"/>
            <result property="reportNo" column="REPORT_NO" jdbcType="VARCHAR"/>
            <result property="submitterDate" column="SUBMITTER_DATE" jdbcType="TIMESTAMP"/>
            <result property="sampleStatus" column="SAMPLE_STATUS" jdbcType="VARCHAR"/>
            <result property="startTestDate" column="START_TEST_DATE" jdbcType="TIMESTAMP"/>
            <result property="endTestDate" column="END_TEST_DATE" jdbcType="TIMESTAMP"/>
            <result property="wire1ConductorsNum" column="WIRE1_CONDUCTORS_NUM" jdbcType="DECIMAL"/>
            <result property="wire2ConductorsNum" column="WIRE2_CONDUCTORS_NUM" jdbcType="DECIMAL"/>
            <result property="wire1Color" column="WIRE1_COLOR" jdbcType="VARCHAR"/>
            <result property="wire2Color" column="WIRE2_COLOR" jdbcType="VARCHAR"/>
            <result property="wire1ConductorTest1" column="WIRE1_CONDUCTOR_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1ConductorTest2" column="WIRE1_CONDUCTOR_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1ConductorTest3" column="WIRE1_CONDUCTOR_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1ConductorTest4" column="WIRE1_CONDUCTOR_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1ConductorTest5" column="WIRE1_CONDUCTOR_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1ConductorTest6" column="WIRE1_CONDUCTOR_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest1" column="WIRE2_CONDUCTOR_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest2" column="WIRE2_CONDUCTOR_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest3" column="WIRE2_CONDUCTOR_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest4" column="WIRE2_CONDUCTOR_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest5" column="WIRE2_CONDUCTOR_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2ConductorTest6" column="WIRE2_CONDUCTOR_TEST6" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest1" column="WIRE1_INSUL_DIAMETER_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest2" column="WIRE1_INSUL_DIAMETER_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest3" column="WIRE1_INSUL_DIAMETER_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest4" column="WIRE1_INSUL_DIAMETER_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest5" column="WIRE1_INSUL_DIAMETER_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulDiameterTest6" column="WIRE1_INSUL_DIAMETER_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest1" column="WIRE2_INSUL_DIAMETER_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest2" column="WIRE2_INSUL_DIAMETER_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest3" column="WIRE2_INSUL_DIAMETER_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest4" column="WIRE2_INSUL_DIAMETER_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest5" column="WIRE2_INSUL_DIAMETER_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulDiameterTest6" column="WIRE2_INSUL_DIAMETER_TEST6" jdbcType="DECIMAL"/>
            <result property="insulAvgThk" column="INSUL_AVG_THK" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest1" column="WIRE1_INSUL_AVG_THK_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest2" column="WIRE1_INSUL_AVG_THK_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest3" column="WIRE1_INSUL_AVG_THK_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest4" column="WIRE1_INSUL_AVG_THK_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest5" column="WIRE1_INSUL_AVG_THK_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest6" column="WIRE1_INSUL_AVG_THK_TEST6" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest7" column="WIRE1_INSUL_AVG_THK_TEST7" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest8" column="WIRE1_INSUL_AVG_THK_TEST8" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest9" column="WIRE1_INSUL_AVG_THK_TEST9" jdbcType="DECIMAL"/>
            <result property="wire1InsulAvgThkTest10" column="WIRE1_INSUL_AVG_THK_TEST10" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest1" column="WIRE2_INSUL_AVG_THK_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest2" column="WIRE2_INSUL_AVG_THK_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest3" column="WIRE2_INSUL_AVG_THK_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest4" column="WIRE2_INSUL_AVG_THK_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest5" column="WIRE2_INSUL_AVG_THK_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest6" column="WIRE2_INSUL_AVG_THK_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest7" column="WIRE2_INSUL_AVG_THK_TEST7" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest8" column="WIRE2_INSUL_AVG_THK_TEST8" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest9" column="WIRE2_INSUL_AVG_THK_TEST9" jdbcType="DECIMAL"/>
            <result property="wire2InsulAvgThkTest10" column="WIRE2_INSUL_AVG_THK_TEST10" jdbcType="DECIMAL"/>
            <result property="insulMinThk" column="INSUL_MIN_THK" jdbcType="DECIMAL"/>
            <result property="sheathOdTest1" column="SHEATH_OD_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathOdTest2" column="SHEATH_OD_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathOdTest3" column="SHEATH_OD_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathOdTest4" column="SHEATH_OD_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathOdTest5" column="SHEATH_OD_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathOdTest6" column="SHEATH_OD_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathAvgThk" column="SHEATH_AVG_THK" jdbcType="DECIMAL"/>
            <result property="sheathThkTest1" column="SHEATH_THK_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathThkTest2" column="SHEATH_THK_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathThkTest3" column="SHEATH_THK_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathThkTest4" column="SHEATH_THK_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathThkTest5" column="SHEATH_THK_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathThkTest6" column="SHEATH_THK_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathMinThk" column="SHEATH_MIN_THK" jdbcType="DECIMAL"/>
            <result property="insulAgingTemp" column="INSUL_AGING_TEMP" jdbcType="DECIMAL"/>
            <result property="insulAgingTime" column="INSUL_AGING_TIME" jdbcType="DECIMAL"/>
            <result property="insulEi" column="INSUL_EI" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest1" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest2" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest3" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest4" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest5" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedElongationTest6" column="WIRE1_INSUL_UNAGED_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest1" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest2" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest3" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest4" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest5" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedElongationTest6" column="WIRE2_INSUL_UNAGED_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="insulTs" column="INSUL_TS" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest1" column="WIRE1_INSUL_UNAGED_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest2" column="WIRE1_INSUL_UNAGED_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest3" column="WIRE1_INSUL_UNAGED_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest4" column="WIRE1_INSUL_UNAGED_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest5" column="WIRE1_INSUL_UNAGED_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulUnagedPullTest6" column="WIRE1_INSUL_UNAGED_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest1" column="WIRE2_INSUL_UNAGED_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest2" column="WIRE2_INSUL_UNAGED_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest3" column="WIRE2_INSUL_UNAGED_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest4" column="WIRE2_INSUL_UNAGED_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest5" column="WIRE2_INSUL_UNAGED_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulUnagedPullTest6" column="WIRE2_INSUL_UNAGED_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="insulAgingElongationResidualRate" column="INSUL_AGING_ELONGATION_RESIDUAL_RATE" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest1" column="WIRE1_INSUL_AGING_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest2" column="WIRE1_INSUL_AGING_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest3" column="WIRE1_INSUL_AGING_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest4" column="WIRE1_INSUL_AGING_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest5" column="WIRE1_INSUL_AGING_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingElongationTest6" column="WIRE1_INSUL_AGING_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest1" column="WIRE2_INSUL_AGING_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest2" column="WIRE2_INSUL_AGING_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest3" column="WIRE2_INSUL_AGING_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest4" column="WIRE2_INSUL_AGING_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest5" column="WIRE2_INSUL_AGING_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingElongationTest6" column="WIRE2_INSUL_AGING_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="insulAgingTensileResidualRate" column="INSUL_AGING_TENSILE_RESIDUAL_RATE" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest1" column="WIRE1_INSUL_AGING_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest2" column="WIRE1_INSUL_AGING_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest3" column="WIRE1_INSUL_AGING_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest4" column="WIRE1_INSUL_AGING_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest5" column="WIRE1_INSUL_AGING_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="wire1InsulAgingPullTest6" column="WIRE1_INSUL_AGING_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest1" column="WIRE2_INSUL_AGING_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest2" column="WIRE2_INSUL_AGING_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest3" column="WIRE2_INSUL_AGING_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest4" column="WIRE2_INSUL_AGING_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest5" column="WIRE2_INSUL_AGING_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="wire2InsulAgingPullTest6" column="WIRE2_INSUL_AGING_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathAgingTemp" column="SHEATH_AGING_TEMP" jdbcType="DECIMAL"/>
            <result property="sheathAgingTime" column="SHEATH_AGING_TIME" jdbcType="DECIMAL"/>
            <result property="hydrometricMethodLong" column="HYDROMETRIC_METHOD_LONG" jdbcType="DECIMAL"/>
            <result property="hydrometricMethodEmptyWeight" column="HYDROMETRIC_METHOD_EMPTY_WEIGHT" jdbcType="DECIMAL"/>
            <result property="hydrometricMethodWaterWeight" column="HYDROMETRIC_METHOD_WATER_WEIGHT" jdbcType="DECIMAL"/>
            <result property="sheathEi" column="SHEATH_EI" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest1" column="SHEATH_UNAGED_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest2" column="SHEATH_UNAGED_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest3" column="SHEATH_UNAGED_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest4" column="SHEATH_UNAGED_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest5" column="SHEATH_UNAGED_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathUnagedElongationTest6" column="SHEATH_UNAGED_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathTs" column="SHEATH_TS" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest1" column="SHEATH_UNAGED_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest2" column="SHEATH_UNAGED_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest3" column="SHEATH_UNAGED_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest4" column="SHEATH_UNAGED_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest5" column="SHEATH_UNAGED_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathUnagedPullTest6" column="SHEATH_UNAGED_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationResidualRate" column="SHEATH_AGING_ELONGATION_RESIDUAL_RATE" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest1" column="SHEATH_AGING_ELONGATION_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest2" column="SHEATH_AGING_ELONGATION_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest3" column="SHEATH_AGING_ELONGATION_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest4" column="SHEATH_AGING_ELONGATION_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest5" column="SHEATH_AGING_ELONGATION_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathAgingElongationTest6" column="SHEATH_AGING_ELONGATION_TEST6" jdbcType="DECIMAL"/>
            <result property="sheathAgingTensileResidualRate" column="SHEATH_AGING_TENSILE_RESIDUAL_RATE" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest1" column="SHEATH_AGING_PULL_TEST1" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest2" column="SHEATH_AGING_PULL_TEST2" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest3" column="SHEATH_AGING_PULL_TEST3" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest4" column="SHEATH_AGING_PULL_TEST4" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest5" column="SHEATH_AGING_PULL_TEST5" jdbcType="DECIMAL"/>
            <result property="sheathAgingPullTest6" column="SHEATH_AGING_PULL_TEST6" jdbcType="DECIMAL"/>
            <result property="isClearPrinting" column="IS_CLEAR_PRINTING" jdbcType="DECIMAL"/>
            <result property="conductorCorrosionTemp" column="CONDUCTOR_CORROSION_TEMP" jdbcType="DECIMAL"/>
            <result property="conductorCorrosionTime" column="CONDUCTOR_CORROSION_TIME" jdbcType="DECIMAL"/>
            <result property="isConductorCorrosion" column="IS_CONDUCTOR_CORROSION" jdbcType="DECIMAL"/>
            <result property="tsTemp" column="TS_TEMP" jdbcType="DECIMAL"/>
            <result property="tsTime" column="TS_TIME" jdbcType="DECIMAL"/>
            <result property="tsLn" column="TS_LN" jdbcType="DECIMAL"/>
            <result property="isTsCrack" column="IS_TS_CRACK" jdbcType="DECIMAL"/>
            <result property="ltBendTemp" column="LT_BEND_TEMP" jdbcType="DECIMAL"/>
            <result property="ltBendTime" column="LT_BEND_TIME" jdbcType="DECIMAL"/>
            <result property="ltBendLn" column="LT_BEND_LN" jdbcType="DECIMAL"/>
            <result property="isLtBendCrack" column="IS_LT_BEND_CRACK" jdbcType="DECIMAL"/>
            <result property="flexibilityTemp" column="FLEXIBILITY_TEMP" jdbcType="DECIMAL"/>
            <result property="flexibilityTime" column="FLEXIBILITY_TIME" jdbcType="DECIMAL"/>
            <result property="flexibilityLn" column="FLEXIBILITY_LN" jdbcType="DECIMAL"/>
            <result property="flexibilityCrack" column="FLEXIBILITY_CRACK" jdbcType="DECIMAL"/>
            <result property="wire1FrontDiameterAvgTest" column="WIRE1_FRONT_DIAMETER_AVG_TEST" jdbcType="DECIMAL"/>
            <result property="wire1RearDiameterAvgTest" column="WIRE1_REAR_DIAMETER_AVG_TEST" jdbcType="DECIMAL"/>
            <result property="wire2FrontDiameterAvgTest" column="WIRE2_FRONT_DIAMETER_AVG_TEST" jdbcType="DECIMAL"/>
            <result property="wire2RearDiameterAvgTest" column="WIRE2_REAR_DIAMETER_AVG_TEST" jdbcType="DECIMAL"/>
            <result property="csgFrontThk" column="CSG_FRONT_THK" jdbcType="DECIMAL"/>
            <result property="csgRearThk" column="CSG_REAR_THK" jdbcType="DECIMAL"/>
            <result property="conductor20Dcr" column="CONDUCTOR20_DCR" jdbcType="DECIMAL"/>
            <result property="conductor20DcrTest1" column="CONDUCTOR20_DCR_TEST1" jdbcType="DECIMAL"/>
            <result property="conductor20DcrTest2" column="CONDUCTOR20_DCR_TEST2" jdbcType="DECIMAL"/>
            <result property="wire1IrLength" column="WIRE1_IR_LENGTH" jdbcType="DECIMAL"/>
            <result property="wire1IrTest1" column="WIRE1_IR_TEST1" jdbcType="DECIMAL"/>
            <result property="wire2IrLength" column="WIRE2_IR_LENGTH" jdbcType="DECIMAL"/>
            <result property="wire1IrTest2" column="WIRE1_IR_TEST2" jdbcType="DECIMAL"/>
            <result property="dielectricIiiWithstandVoltage" column="DIELECTRIC_III_WITHSTAND_VOLTAGE" jdbcType="DECIMAL"/>
            <result property="dielectricIiiWithstandVoltageTime" column="DIELECTRIC_III_WITHSTAND_VOLTAGE_TIME" jdbcType="DECIMAL"/>
            <result property="isDielectricIiiPok" column="IS_DIELECTRIC_III_POK" jdbcType="DECIMAL"/>
            <result property="dielectricINum" column="DIELECTRIC_I_NUM" jdbcType="DECIMAL"/>
            <result property="dielectricITemp" column="DIELECTRIC_I_TEMP" jdbcType="DECIMAL"/>
            <result property="dielectricITime" column="DIELECTRIC_I_TIME" jdbcType="DECIMAL"/>
            <result property="dielectricIGirth" column="DIELECTRIC_I_GIRTH" jdbcType="DECIMAL"/>
            <result property="dielectricILn" column="DIELECTRIC_I_LN" jdbcType="DECIMAL"/>
            <result property="dielectricIWithstandVoltage" column="DIELECTRIC_I_WITHSTAND_VOLTAGE" jdbcType="DECIMAL"/>
            <result property="dielectricIWithstandVoltageTiem" column="DIELECTRIC_I_WITHSTAND_VOLTAGE_TIEM" jdbcType="DECIMAL"/>
            <result property="dielectricIPokNum" column="DIELECTRIC_I_POK_NUM" jdbcType="DECIMAL"/>
            <result property="isDielectricIPok" column="IS_DIELECTRIC_I_POK" jdbcType="DECIMAL"/>
            <result property="hvdcWireNum" column="HVDC_WIRE_NUM" jdbcType="DECIMAL"/>
            <result property="hvdcWireBakingTemp" column="HVDC_WIRE_BAKING_TEMP" jdbcType="DECIMAL"/>
            <result property="hvdcWireBakingTime" column="HVDC_WIRE_BAKING_TIME" jdbcType="DECIMAL"/>
            <result property="hvdcWireDischargeTemp" column="HVDC_WIRE_DISCHARGE_TEMP" jdbcType="DECIMAL"/>
            <result property="hvdcWireDischargePct" column="HVDC_WIRE_DISCHARGE_PCT" jdbcType="DECIMAL"/>
            <result property="hvdcWireDischargeTime" column="HVDC_WIRE_DISCHARGE_TIME" jdbcType="DECIMAL"/>
            <result property="hvdcWireTestBar" column="HVDC_WIRE_TEST_BAR" jdbcType="DECIMAL"/>
            <result property="hvdcWireLn" column="HVDC_WIRE_LN" jdbcType="DECIMAL"/>
            <result property="hvdcWireDcv" column="HVDC_WIRE_DCV" jdbcType="DECIMAL"/>
            <result property="hvdcWireDcvTime" column="HVDC_WIRE_DCV_TIME" jdbcType="DECIMAL"/>
            <result property="isHvdcWirePok" column="IS_HVDC_WIRE_POK" jdbcType="DECIMAL"/>
            <result property="firstFlameRetardingTest1" column="FIRST_FLAME_RETARDING_TEST1" jdbcType="DECIMAL"/>
            <result property="firstFlameRetardingTest2" column="FIRST_FLAME_RETARDING_TEST2" jdbcType="DECIMAL"/>
            <result property="firstFlameRetardingTest3" column="FIRST_FLAME_RETARDING_TEST3" jdbcType="DECIMAL"/>
            <result property="secondFlameRetardingTest1" column="SECOND_FLAME_RETARDING_TEST1" jdbcType="DECIMAL"/>
            <result property="secondFlameRetardingTest2" column="SECOND_FLAME_RETARDING_TEST2" jdbcType="DECIMAL"/>
            <result property="secondFlameRetardingTest3" column="SECOND_FLAME_RETARDING_TEST3" jdbcType="DECIMAL"/>
            <result property="thirdFlameRetardingTest1" column="THIRD_FLAME_RETARDING_TEST1" jdbcType="DECIMAL"/>
            <result property="thirdFlameRetardingTest2" column="THIRD_FLAME_RETARDING_TEST2" jdbcType="DECIMAL"/>
            <result property="thirdFlameRetardingTest3" column="THIRD_FLAME_RETARDING_TEST3" jdbcType="DECIMAL"/>
            <result property="fourthFlameRetardingTest1" column="FOURTH_FLAME_RETARDING_TEST1" jdbcType="DECIMAL"/>
            <result property="fourthFlameRetardingTest2" column="FOURTH_FLAME_RETARDING_TEST2" jdbcType="DECIMAL"/>
            <result property="fourthFlameRetardingTest3" column="FOURTH_FLAME_RETARDING_TEST3" jdbcType="DECIMAL"/>
            <result property="fifthFlameRetardingTest1" column="FIFTH_FLAME_RETARDING_TEST1" jdbcType="DECIMAL"/>
            <result property="fifthFlameRetardingTest2" column="FIFTH_FLAME_RETARDING_TEST2" jdbcType="DECIMAL"/>
            <result property="fifthFlameRetardingTest3" column="FIFTH_FLAME_RETARDING_TEST3" jdbcType="DECIMAL"/>
            <result property="flagBurningAreaTest1" column="FLAG_BURNING_AREA_TEST1" jdbcType="DECIMAL"/>
            <result property="flagBurningAreaTest2" column="FLAG_BURNING_AREA_TEST2" jdbcType="DECIMAL"/>
            <result property="flagBurningAreaTest3" column="FLAG_BURNING_AREA_TEST3" jdbcType="DECIMAL"/>
            <result property="isLightCottonVw1Test1" column="IS_LIGHT_COTTON_VW1_TEST1" jdbcType="DECIMAL"/>
            <result property="isLightCottonVw1Test2" column="IS_LIGHT_COTTON_VW1_TEST2" jdbcType="DECIMAL"/>
            <result property="isLightCottonVw1Test3" column="IS_LIGHT_COTTON_VW1_TEST3" jdbcType="DECIMAL"/>
            <result property="burningAfterLenghtTest1" column="BURNING_AFTER_LENGHT_TEST1" jdbcType="DECIMAL"/>
            <result property="burningAfterLenghtTest2" column="BURNING_AFTER_LENGHT_TEST2" jdbcType="DECIMAL"/>
            <result property="burningAfterLenghtTest3" column="BURNING_AFTER_LENGHT_TEST3" jdbcType="DECIMAL"/>
            <result property="isLightCottonFt2Test1" column="IS_LIGHT_COTTON_FT2_TEST1" jdbcType="DECIMAL"/>
            <result property="isLightCottonFt2Test2" column="IS_LIGHT_COTTON_FT2_TEST2" jdbcType="DECIMAL"/>
            <result property="isLightCottonFt2Test3" column="IS_LIGHT_COTTON_FT2_TEST3" jdbcType="DECIMAL"/>
            <result property="burningTimeTest1" column="BURNING_TIME_TEST1" jdbcType="DECIMAL"/>
            <result property="burningTimeTest2" column="BURNING_TIME_TEST2" jdbcType="DECIMAL"/>
            <result property="burningTimeTest3" column="BURNING_TIME_TEST3" jdbcType="DECIMAL"/>
            <result property="isLightCottonUlTest1" column="IS_LIGHT_COTTON_UL_TEST1" jdbcType="DECIMAL"/>
            <result property="isLightCottonUlTest2" column="IS_LIGHT_COTTON_UL_TEST2" jdbcType="DECIMAL"/>
            <result property="isLightCottonUlTest3" column="IS_LIGHT_COTTON_UL_TEST3" jdbcType="DECIMAL"/>
            <result property="thermalElongation" column="THERMAL_ELONGATION" jdbcType="DECIMAL"/>
            <result property="majorMeasured" column="MAJOR_MEASURED" jdbcType="VARCHAR"/>
            <result property="checked" column="CHECKED" jdbcType="VARCHAR"/>
            <result property="approved" column="APPROVED" jdbcType="VARCHAR"/>
            <result property="certigier" column="CERTIGIER" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="cteateUserId" column="CTEATE_USER_ID" jdbcType="DECIMAL"/>
            <result property="cteateUserName" column="CTEATE_USER_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        CUSTOMER_NAME,SUBMITTER,TEST_BASIS,
        PRODUCT_NAME,SPECIFICATION,REPORT_NO,
        SUBMITTER_DATE,SAMPLE_STATUS,START_TEST_DATE,
        END_TEST_DATE,WIRE1_CONDUCTORS_NUM,WIRE2_CONDUCTORS_NUM,
        WIRE1_COLOR,WIRE2_COLOR,WIRE1_CONDUCTOR_TEST1,
        WIRE1_CONDUCTOR_TEST2,WIRE1_CONDUCTOR_TEST3,WIRE1_CONDUCTOR_TEST4,
        WIRE1_CONDUCTOR_TEST5,WIRE1_CONDUCTOR_TEST6,WIRE2_CONDUCTOR_TEST1,
        WIRE2_CONDUCTOR_TEST2,WIRE2_CONDUCTOR_TEST3,WIRE2_CONDUCTOR_TEST4,
        WIRE2_CONDUCTOR_TEST5,WIRE2_CONDUCTOR_TEST6,WIRE1_INSUL_DIAMETER_TEST1,
        WIRE1_INSUL_DIAMETER_TEST2,WIRE1_INSUL_DIAMETER_TEST3,WIRE1_INSUL_DIAMETER_TEST4,
        WIRE1_INSUL_DIAMETER_TEST5,WIRE1_INSUL_DIAMETER_TEST6,WIRE2_INSUL_DIAMETER_TEST1,
        WIRE2_INSUL_DIAMETER_TEST2,WIRE2_INSUL_DIAMETER_TEST3,WIRE2_INSUL_DIAMETER_TEST4,
        WIRE2_INSUL_DIAMETER_TEST5,WIRE2_INSUL_DIAMETER_TEST6,INSUL_AVG_THK,
        WIRE1_INSUL_AVG_THK_TEST1,WIRE1_INSUL_AVG_THK_TEST2,WIRE1_INSUL_AVG_THK_TEST3,
        WIRE1_INSUL_AVG_THK_TEST4,WIRE1_INSUL_AVG_THK_TEST5,WIRE1_INSUL_AVG_THK_TEST6,
        WIRE1_INSUL_AVG_THK_TEST7,WIRE1_INSUL_AVG_THK_TEST8,WIRE1_INSUL_AVG_THK_TEST9,
        WIRE1_INSUL_AVG_THK_TEST10,WIRE2_INSUL_AVG_THK_TEST1,WIRE2_INSUL_AVG_THK_TEST2,
        WIRE2_INSUL_AVG_THK_TEST3,WIRE2_INSUL_AVG_THK_TEST4,WIRE2_INSUL_AVG_THK_TEST5,
        WIRE2_INSUL_AVG_THK_TEST6,WIRE2_INSUL_AVG_THK_TEST7,WIRE2_INSUL_AVG_THK_TEST8,
        WIRE2_INSUL_AVG_THK_TEST9,WIRE2_INSUL_AVG_THK_TEST10,INSUL_MIN_THK,
        SHEATH_OD_TEST1,SHEATH_OD_TEST2,SHEATH_OD_TEST3,
        SHEATH_OD_TEST4,SHEATH_OD_TEST5,SHEATH_OD_TEST6,
        SHEATH_AVG_THK,SHEATH_THK_TEST1,SHEATH_THK_TEST2,
        SHEATH_THK_TEST3,SHEATH_THK_TEST4,SHEATH_THK_TEST5,
        SHEATH_THK_TEST6,SHEATH_MIN_THK,INSUL_AGING_TEMP,
        INSUL_AGING_TIME,INSUL_EI,WIRE1_INSUL_UNAGED_ELONGATION_TEST1,
        WIRE1_INSUL_UNAGED_ELONGATION_TEST2,WIRE1_INSUL_UNAGED_ELONGATION_TEST3,WIRE1_INSUL_UNAGED_ELONGATION_TEST4,
        WIRE1_INSUL_UNAGED_ELONGATION_TEST5,WIRE1_INSUL_UNAGED_ELONGATION_TEST6,WIRE2_INSUL_UNAGED_ELONGATION_TEST1,
        WIRE2_INSUL_UNAGED_ELONGATION_TEST2,WIRE2_INSUL_UNAGED_ELONGATION_TEST3,WIRE2_INSUL_UNAGED_ELONGATION_TEST4,
        WIRE2_INSUL_UNAGED_ELONGATION_TEST5,WIRE2_INSUL_UNAGED_ELONGATION_TEST6,INSUL_TS,
        WIRE1_INSUL_UNAGED_PULL_TEST1,WIRE1_INSUL_UNAGED_PULL_TEST2,WIRE1_INSUL_UNAGED_PULL_TEST3,
        WIRE1_INSUL_UNAGED_PULL_TEST4,WIRE1_INSUL_UNAGED_PULL_TEST5,WIRE1_INSUL_UNAGED_PULL_TEST6,
        WIRE2_INSUL_UNAGED_PULL_TEST1,WIRE2_INSUL_UNAGED_PULL_TEST2,WIRE2_INSUL_UNAGED_PULL_TEST3,
        WIRE2_INSUL_UNAGED_PULL_TEST4,WIRE2_INSUL_UNAGED_PULL_TEST5,WIRE2_INSUL_UNAGED_PULL_TEST6,
        INSUL_AGING_ELONGATION_RESIDUAL_RATE,WIRE1_INSUL_AGING_ELONGATION_TEST1,WIRE1_INSUL_AGING_ELONGATION_TEST2,
        WIRE1_INSUL_AGING_ELONGATION_TEST3,WIRE1_INSUL_AGING_ELONGATION_TEST4,WIRE1_INSUL_AGING_ELONGATION_TEST5,
        WIRE1_INSUL_AGING_ELONGATION_TEST6,WIRE2_INSUL_AGING_ELONGATION_TEST1,WIRE2_INSUL_AGING_ELONGATION_TEST2,
        WIRE2_INSUL_AGING_ELONGATION_TEST3,WIRE2_INSUL_AGING_ELONGATION_TEST4,WIRE2_INSUL_AGING_ELONGATION_TEST5,
        WIRE2_INSUL_AGING_ELONGATION_TEST6,INSUL_AGING_TENSILE_RESIDUAL_RATE,WIRE1_INSUL_AGING_PULL_TEST1,
        WIRE1_INSUL_AGING_PULL_TEST2,WIRE1_INSUL_AGING_PULL_TEST3,WIRE1_INSUL_AGING_PULL_TEST4,
        WIRE1_INSUL_AGING_PULL_TEST5,WIRE1_INSUL_AGING_PULL_TEST6,WIRE2_INSUL_AGING_PULL_TEST1,
        WIRE2_INSUL_AGING_PULL_TEST2,WIRE2_INSUL_AGING_PULL_TEST3,WIRE2_INSUL_AGING_PULL_TEST4,
        WIRE2_INSUL_AGING_PULL_TEST5,WIRE2_INSUL_AGING_PULL_TEST6,SHEATH_AGING_TEMP,
        SHEATH_AGING_TIME,HYDROMETRIC_METHOD_LONG,HYDROMETRIC_METHOD_EMPTY_WEIGHT,
        HYDROMETRIC_METHOD_WATER_WEIGHT,SHEATH_EI,SHEATH_UNAGED_ELONGATION_TEST1,
        SHEATH_UNAGED_ELONGATION_TEST2,SHEATH_UNAGED_ELONGATION_TEST3,SHEATH_UNAGED_ELONGATION_TEST4,
        SHEATH_UNAGED_ELONGATION_TEST5,SHEATH_UNAGED_ELONGATION_TEST6,SHEATH_TS,
        SHEATH_UNAGED_PULL_TEST1,SHEATH_UNAGED_PULL_TEST2,SHEATH_UNAGED_PULL_TEST3,
        SHEATH_UNAGED_PULL_TEST4,SHEATH_UNAGED_PULL_TEST5,SHEATH_UNAGED_PULL_TEST6,
        SHEATH_AGING_ELONGATION_RESIDUAL_RATE,SHEATH_AGING_ELONGATION_TEST1,SHEATH_AGING_ELONGATION_TEST2,
        SHEATH_AGING_ELONGATION_TEST3,SHEATH_AGING_ELONGATION_TEST4,SHEATH_AGING_ELONGATION_TEST5,
        SHEATH_AGING_ELONGATION_TEST6,SHEATH_AGING_TENSILE_RESIDUAL_RATE,SHEATH_AGING_PULL_TEST1,
        SHEATH_AGING_PULL_TEST2,SHEATH_AGING_PULL_TEST3,SHEATH_AGING_PULL_TEST4,
        SHEATH_AGING_PULL_TEST5,SHEATH_AGING_PULL_TEST6,IS_CLEAR_PRINTING,
        CONDUCTOR_CORROSION_TEMP,CONDUCTOR_CORROSION_TIME,IS_CONDUCTOR_CORROSION,
        TS_TEMP,TS_TIME,TS_LN,
        IS_TS_CRACK,LT_BEND_TEMP,LT_BEND_TIME,
        LT_BEND_LN,IS_LT_BEND_CRACK,FLEXIBILITY_TEMP,
        FLEXIBILITY_TIME,FLEXIBILITY_LN,FLEXIBILITY_CRACK,
        WIRE1_FRONT_DIAMETER_AVG_TEST,WIRE1_REAR_DIAMETER_AVG_TEST,WIRE2_FRONT_DIAMETER_AVG_TEST,
        WIRE2_REAR_DIAMETER_AVG_TEST,CSG_FRONT_THK,CSG_REAR_THK,
        CONDUCTOR20_DCR,CONDUCTOR20_DCR_TEST1,CONDUCTOR20_DCR_TEST2,
        WIRE1_IR_LENGTH,WIRE1_IR_TEST1,WIRE2_IR_LENGTH,
        WIRE1_IR_TEST2,DIELECTRIC_III_WITHSTAND_VOLTAGE,DIELECTRIC_III_WITHSTAND_VOLTAGE_TIME,
        IS_DIELECTRIC_III_POK,DIELECTRIC_I_NUM,DIELECTRIC_I_TEMP,
        DIELECTRIC_I_TIME,DIELECTRIC_I_GIRTH,DIELECTRIC_I_LN,
        DIELECTRIC_I_WITHSTAND_VOLTAGE,DIELECTRIC_I_WITHSTAND_VOLTAGE_TIEM,DIELECTRIC_I_POK_NUM,
        IS_DIELECTRIC_I_POK,HVDC_WIRE_NUM,HVDC_WIRE_BAKING_TEMP,
        HVDC_WIRE_BAKING_TIME,HVDC_WIRE_DISCHARGE_TEMP,HVDC_WIRE_DISCHARGE_PCT,
        HVDC_WIRE_DISCHARGE_TIME,HVDC_WIRE_TEST_BAR,HVDC_WIRE_LN,
        HVDC_WIRE_DCV,HVDC_WIRE_DCV_TIME,IS_HVDC_WIRE_POK,
        FIRST_FLAME_RETARDING_TEST1,FIRST_FLAME_RETARDING_TEST2,FIRST_FLAME_RETARDING_TEST3,
        SECOND_FLAME_RETARDING_TEST1,SECOND_FLAME_RETARDING_TEST2,SECOND_FLAME_RETARDING_TEST3,
        THIRD_FLAME_RETARDING_TEST1,THIRD_FLAME_RETARDING_TEST2,THIRD_FLAME_RETARDING_TEST3,
        FOURTH_FLAME_RETARDING_TEST1,FOURTH_FLAME_RETARDING_TEST2,FOURTH_FLAME_RETARDING_TEST3,
        FIFTH_FLAME_RETARDING_TEST1,FIFTH_FLAME_RETARDING_TEST2,FIFTH_FLAME_RETARDING_TEST3,
        FLAG_BURNING_AREA_TEST1,FLAG_BURNING_AREA_TEST2,FLAG_BURNING_AREA_TEST3,
        IS_LIGHT_COTTON_VW1_TEST1,IS_LIGHT_COTTON_VW1_TEST2,IS_LIGHT_COTTON_VW1_TEST3,
        BURNING_AFTER_LENGHT_TEST1,BURNING_AFTER_LENGHT_TEST2,BURNING_AFTER_LENGHT_TEST3,
        IS_LIGHT_COTTON_FT2_TEST1,IS_LIGHT_COTTON_FT2_TEST2,IS_LIGHT_COTTON_FT2_TEST3,
        BURNING_TIME_TEST1,BURNING_TIME_TEST2,BURNING_TIME_TEST3,
        IS_LIGHT_COTTON_UL_TEST1,IS_LIGHT_COTTON_UL_TEST2,IS_LIGHT_COTTON_UL_TEST3,
        THERMAL_ELONGATION,MAJOR_MEASURED,CHECKED,
        APPROVED,CERTIGIER,CREATE_TIME,
        CTEATE_USER_ID,CTEATE_USER_NAME
    </sql>
</mapper>
